<!DOCTYPE html>
<html>

<head>
    <title>create test</title>

</head>

<body style="text-align: center;">
    <h1>Assignment {{this.assignmentNumber}} for {{this.name}} </h1>
    <form action="/attemptAssignmentTest:{{this._id}}" method="POST" style="text-align: center;">
    <input style="display: none;" name="assignment" value={{this.assignment}}>
      <h2> 1. {{question.first}}</h2>
        <h3>Optons</h3>
        <div style="border: 2px solid blue;padding:10px;width:fit-content;max-width:50%;align-self:center;text-align:center;margin-left:25%;">
            <h4 style="text-align:center;">option1 :   <label>{{question.first1}}</label></h4>
            <h4 style="text-align:center;">option2 :   <label>{{question.first2}}</label></h4>
            <h4 style="text-align:center;">option3 :   <label>{{question.first3}}</label> </h4>
            <h4 style="text-align:center;">option4 :   <label>{{question.first4}}</label></h4>
             <br><br>
        </div>

        <p>choose correct answer</p>
        <select style="border: 2px solid green;padding:10px;width:15vh;" name="firstAnswer" id="options" required>
            <option value="first1">Option 1</option>
            <option value="first2">Option 2</option>
            <option value="first3">Option 3</option>
            <option value="first4">Option 4</option>
        </select>
        <br>
        <hr><br>


        <h2> 2. {{question.second}}</h2>
        <h3>Optons</h3>
        <div style="border: 2px solid blue;padding:10px;width:fit-content;max-width:50%;align-self:center;text-align:center;margin-left:25%;">
            <h4 style="text-align:center;">option1 :   <label>{{question.second1}}</label></h4>
            <h4 style="text-align:center;">option2 :   <label>{{question.second2}}</label></h4>
            <h4 style="text-align:center;">option3 :   <label>{{question.second3}}</label> </h4>
            <h4 style="text-align:center;">option4 :   <label>{{question.second4}}</label></h4>
             <br><br>
        </div>

        <p>choose correct answer</p>
        <select style="border: 2px solid green;padding:10px;width:15vh;" name="secondAnswer" id="options" required>
            <option value="second1">Option 1</option>
            <option value="second2">Option 2</option>
            <option value="second3">Option 3</option>
            <option value="second4">Option 4</option>
        </select>
        <br>
        <hr><br>


        <h2>3.  {{question.third}}</h2>
        <h3>Optons</h3>
        <div style="border: 2px solid blue;padding:10px;width:fit-content;max-width:50%;align-self:center;text-align:center;margin-left:25%;">
            <h4 style="text-align:center;">option1 :   <label>{{question.third1}}</label></h4>
            <h4 style="text-align:center;">option2 :   <label>{{question.third2}}</label></h4>
            <h4 style="text-align:center;">option3 :   <label>{{question.third3}}</label> </h4>
            <h4 style="text-align:center;">option4 :   <label>{{question.third4}}</label></h4>
             <br><br>
        </div>

        <p>choose correct answer</p>
        <select style="border: 2px solid green;padding:10px;width:15vh;" name="thirdAnswer" id="options" required>
            <option value="third1">Option 1</option>
            <option value="third2">Option 2</option>
            <option value="third3">Option 3</option>
            <option value="third4">Option 4</option>
        </select>
        <br>
        <hr><br>



        <h2> 4. {{question.fourth}}</h2>
        <h3>Optons</h3>
        <div style="border: 2px solid blue;padding:10px;width:fit-content;max-width:50%;align-self:center;text-align:center;margin-left:25%;">
            <h4 style="text-align:center;">option1 :   <label>{{question.fourth1}}</label></h4>
            <h4 style="text-align:center;">option2 :   <label>{{question.fourth2}}</label></h4>
            <h4 style="text-align:center;">option3 :   <label>{{question.fourth3}}</label> </h4>
            <h4 style="text-align:center;">option4 :   <label>{{question.fourth4}}</label></h4>
             <br><br>
        </div>

        <p>choose correct answer</p>
        <select style="border: 2px solid green;padding:10px;width:15vh;" name="fourthAnswer" id="options" required>
            <option value="fourth1">Option 1</option>
            <option value="fourth2">Option 2</option>
            <option value="fourth3">Option 3</option>
            <option value="fourth4">Option 4</option>
        </select>
        <br>
        <hr><br>



        <h2> {{question.fifth}}</h2>
        <h3>Optons</h3>
        <div style="border: 2px solid blue;padding:10px;width:fit-content;max-width:50%;align-self:center;text-align:center;margin-left:25%;">
            <h4 style="text-align:center;">option1 :   <label>{{question.fifth1}}</label></h4>
            <h4 style="text-align:center;">option2 :   <label>{{question.fifth2}}</label></h4>
            <h4 style="text-align:center;">option3 :   <label>{{question.fifth3}}</label> </h4>
            <h4 style="text-align:center;">option4 :   <label>{{question.fifth4}}</label></h4>
             <br><br>
        </div>

        <p>choose correct answer</p>
        <select style="border: 2px solid green;padding:10px;width:15vh;" name="fifthAnswer" id="options" required>
            <option value="fifth1">Option 1</option>
            <option value="fifth2">Option 2</option>
            <option value="fifth3">Option 3</option>
            <option value="fifth4">Option 4</option>
        </select>
        <br>
        <hr><br>




        <input style="border: 2px solid black;padding:10px;align-self:center;" type="submit" value="submit">
    </form>
</body>

</html>