<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Full-width input fields */
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        /* Add a background color when the inputs get focus */
        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for all buttons */
        button {
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        button:hover {
            opacity: 1;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }

        /* Float cancel and signup buttons and add an equal width */
        .cancelbtn,
        .signupbtn {
            float: left;
            width: 50%;
        }

        /* Add padding to container elements */
        .container {
            padding: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
        }

        /* Style the horizontal ruler */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }

        .close:hover,
        .close:focus {
            color: #f44336;
            cursor: pointer;
        }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        /* Change styles for cancel button and signup button on extra small screens */
        @media screen and (max-width: 300px) {

            .cancelbtn,
            .signupbtn {
                width: 100%;
            }
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: auto;
            text-align: center;
            padding-bottom: 1vh;
            border-radius: 10px;
            border: 2px solid black;
            border-bottom: none;
            margin-top: 2vh;
        }

        .title {
            color: grey;
        }



        a {
            text-decoration: none;
            color: black;
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: black;
        }

        .dropdown1:hover .dropdown-content {
            display: block;
        }

        .dropdown1 {
            margin: 0;
            float: left;
            overflow: hidden;
            width: 100%;
        }

        .dropdown1 .dropbtn {
            width: 100% font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: black;
            font-family: inherit;
            margin: 0;
        }
    </style>
</head>

<body>
    {{>header this}}
    <h1 style="margin-bottom:2px;boder:2px solid black;text-align: center;">COURSE LIST</h1>

    {{#if courses}}
    {{#each courses}}
    <div class="card">
        <h2 style="background-color: chartreuse;">Course Name={{this.name}}</h2>
        <p class="title">Duration: {{this.hours}}</p>
        <p>Completed : {{this.completedHours}}</p>
        <p>Rating: {{this.rating}}</p>
        <hr>
        <p>Module 1 Test is on {{tests.test1}}</p>
        <p>Module 2 Test is on {{tests.test2}}</p>
        <p>Module 3 Test is on {{tests.test3}}</p>
        <hr>
            <h2>Test Questions</h2>
            {{#if questions.test1}}
                <p>module 1 test is submitted</p>
            {{else}}
                <p style="color: #f44336;">module 1 test is not submitted</p>
            {{/if}}
            {{#if questions.test2}}
                <p>module 2 test is submitted</p>
            {{else}}
                <p style="color: #f44336;">module 2 test is not submitted</p>
            {{/if}}
            {{#if questions.test3}}
                <p>module 3 test is submitted</p>
             {{else}}
                <p style="color: #f44336;">module 3 test is not submitted</p>    
            {{/if}}
            <hr>
            <h2>Assignment Questions</h2>
            {{#if questions.assignment1}}
                <p>1st assignment is submitted</p>
            {{else}}
                <p style="color: #f44336;">1st assignment is not submitted</p>
            {{/if}}
            {{#if questions.assignment2}}
                <p>2nd assignment is submitted</p>
            {{else}}
                <p style="color: #f44336;">2nd assignment is not submitted</p>    
            {{/if}}
            {{#if questions.assignment3}}
                <p>3rd assignment is submitted</p>
            {{else}}
                <p style="color: #f44336;">3rd assignment is not submitted</p>
            {{/if}}
        <div style=" width: 100%;
                            float: left;
                            border: solid 1px blue;
                            text-align: center;">
            <button style="display: inline-block;float:left;width:33%"
                onclick=location.href="/studentsList:{{this._id}}">Students</button>
            <button style="display: inline-block;width:33%" onclick=location.href="/createTest:{{this._id}}">create
                test</button>
            <button style="display: inline-block;float:right;width:33%"
                onclick=location.href='/submitReport:{{this._id}}'>submit report</button>

            <button onclick=location.href="/leaveCourse:{{this._id}}">Leave this course</button>

            <form action='/scheduleTest:{{this._id}}' method="POST">
                <label for="test">Test is on : </label>
                <input type="date" name="time" value={{this.test}} required>
                <label for="gender">Select Type</label>
                <select name="type" required>
                    <option value="test1">module 1 test</option>
                    <option value="test2">module 2 test</option>
                    <option value="test3">module 3 test</option>
                </select>
                <br><br>
                <button style="text-align: center;background-color:blue;border-radius:50px;margin-bottom:auto"
                    type="submit">Pick a date to schedule/reschedule test</button>
            </form>
        </div>
        <br><br><br><br><br><br><br>

    </div>
    <br><br><br><br>
    {{/each}}
    {{else}}
    <h1 style="background-color: red;text-align:center">EMPTY LIST !!!...</h1>
    {{/if}}




    {{>editProfile this}}
    {{>resetPassword this}}
    {{>forgotPassword this}}
    {{>login this}}
    {{>signup this}}

</body>

</html>