<!DOCTYPE html>
<html>

<body style="text-align: center;">

    <h1>Students List</h1>
    {{#if students}}
    {{#each students}}
    <div style="text-align: center;">
        <h3>name {{name}}</h3>
        <p>gender : {{gender}}</p>
        <p>phone : {{phone}}</p>
        <p>email : {{email}}</p>
        <div style="padding:8px;border:5px solid green;width:max-content;margin-left:45.5%;">
            {{#if completed}}
                <h2>Completed Course successfully.</h2>
            {{else}}
                {{#if testCompleted}}
                    <h2>Assignments are still pending</h2>
                {{/if}}
                {{#if assignmentCompleted}}
                    <h2>Tests are not completed</h2>
                {{/if}}
            {{/if}}
            <h4>Marks scored {{marks}}</h4>
        </div>
        <br><br>
        <a style="border-radius: 20px;padding:15px;border:3px solid blue;font-weight:900;margin-top:5px;margin-bottom:5px;" href="/chatWithStudents:{{this._id}}:{{course}}" target="_blank">chat with Student</a>
        <br><br><br><hr><br>
    </div>
    {{/each}}
    {{else}}
    <h1>No students joined till now</h1>
    {{/if}}
</body>

</html>